@use "sass:map";

@import "node_modules/bootstrap/scss/functions";

$primary: #198754;
$field: mix(#f7f7f7, antiquewhite, 90%);
$text: #272727;

// Bootstrap overrides
$body-bg: $field;
$body-color: $text;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Expose Bootstrap mixins to module styles
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
