@use "sass:map";

$primary: #198754;
$field: mix(#f7f7f7, antiquewhite, 95%);
$text: #272727;

// Bootstrap overrides
$body-bg: $field;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin responsive-sm() {
    @media (min-width: map.get($grid-breakpoints, sm)) {
        @content;
    }
}

@mixin responsive-md() {
    @media (min-width: map.get($grid-breakpoints, md)) {
        @content;
    }
}

@mixin responsive-lg() {
    @media (min-width: map.get($grid-breakpoints, lg)) {
        @content;
    }
}

@mixin responsive-xl() {
    @media (min-width: map.get($grid-breakpoints, xl)) {
        @content;
    }
}

@mixin responsive-2xl() {
    @media (min-width: map.get($grid-breakpoints, xxl)) {
        @content;
    }
}