$primary: #198754;
$field: mix(#f7f7f7, antiquewhite, 95%);
$header: mix($primary, black, 70%);
$header: #272727;
$header-overlap: 32px;

.cv-body {
    main {
        a {
            background-color: mix($primary, $field, 8%);
            border-bottom: 1px dashed $primary;
            color: scale-color($primary, $lightness: -15%);
            font-family: "Raleway";
            font-weight: bold;
            letter-spacing: 0.05em;
            padding: 0 0.25rem 1px 0.25rem;
            text-decoration: none;

            transition: all 0.5s;

            &:hover {
                background-color: mix($primary, $field, 20%);
            }
        }
    }

    hr {
        border: 0;
        border-top: 1px solid #272727;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Raleway, sans-serif;
        font-variant-caps: all-small-caps;
    }

    h2 {
        background: rgba($primary, 0.1);
        border-bottom: 2px solid $primary;
        color: #272727;
        display: inline-block;
        font-size: 1.125rem;
        font-variant-caps: all-small-caps;
        font-weight: bold;
        margin: 0 0 12px 0;
        padding: 4px 8px 4px 48px;
    }

    main {
        max-width: 1536px;
        padding: 1rem;
    }
}

.socials {
    a {
        color: white !important;
        font-size: 1.5rem;
        text-decoration: none;
    }
}

.highlight-strong {
    strong {
        color: green;
    }
}

.chroma-header {
    background: $header;
    border-bottom: 0.3rem solid $primary;
    color: $field;
    margin-bottom: $header-overlap + 8px;
}

.header-image {
    display: inline-block;
    position: relative;
    top: $header-overlap;

    border: 3px solid #272727;
    border-radius: 999px;

    font-size: 0px;

    & > * {
        border: 3px solid $field;
    }
}

.square-fa-icon {
    flex-shrink: 0;
    text-align: center;
    width: 2rem;
}

.technical {
    gap: 0.5rem;

    .info {
        border-right: 1px dotted #272727;
        flex-shrink: 0;
        padding-right: 0.5rem;
        text-align: end;
        width: 180px;

        .title {
            font-weight: bold;
        }
    }

    ul {
        list-style: none;

        li p {
            // Paragaphs are inserted by Markdown parsing of remarks
            margin: 0;
        }
    }
}

#publications {
    ul {
        list-style: none;

        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }
}

.os-project {
    i {
        font-size: 24px;
        margin-top: 1rem;
    }

    small {
        color: #666;
        font-variant-caps: all-small-caps;
        letter-spacing: 0.05rem;
    }

    h3 {
        color: #272727;
        font-size: 1.25rem;
        font-variant-caps: all-small-caps;
        font-weight: bold;
        letter-spacing: 0.03rem;
    }
}

